# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\개인프로젝트\querydsl\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
